<div class="text-center">
  <h2>{{blog.title}}</h2>
  <p>{{blog.content}}</p>
  <p>Created on {{format_date blog.date_created}}</p>
  <form class="form new-comment-form">
    <div class="form-group">
      <label for="new-comment-id">Comment: </label>
      <input class="form-input" type="text" id="new-comment-id" name="new-comment-id" />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      id="new-comment-btn"
    >Add</button>
  </form>

</div>